.container {
    padding-bottom: 20px;
}
.btn-full-width {
    width: 100%;
    margin-top: 5px;
}
h4.relays-edit-title {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    cursor: default;
}
.relays-edit-group label {
    margin: 0;
    line-height: 34px;
}
.form-inline .checkbox label {
    margin: 0 5px;
}

#events.table-hover tbody tr {
    cursor: pointer;
}

#board-delete {
    margin-top: 10px;
}

.btn-r-disabled {
    background-color: #C5C5C5;
    border-color: #A7A7A7;
    color: #fff;
}
.btn-r-disabled:active,
.btn-r-disabled:hover:active {
    background-color: #B1B1B1;
    border-color: #989898;
    color: #fff;
}
.btn-r-disabled:hover,
.btn-r-disabled:focus {
    background-color: #ABABAB;
    border-color: #949494;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
    #event-time {
        width: 93px;
    }
}